/* header.css */

.navbar {
  background: linear-gradient(to right, #007bff, #28a745);
  width: 100%;
  z-index: 1;
}

.navbar-brand,
.navbar-toggler-icon {
  color: #fff; /* White text color for brand and toggler icon */
}

.navbar-nav .nav-link {
  color: #fff !important;
}

.nav-item.dropdown:hover .nav-link {
  color: #fff !important;
}

.dropdown-menu {
  background: linear-gradient(to right, #007bff, #28a745);
}

.dropdown-item {
  color: #fff !important;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-nav .ant-badge {
  color: #fff;
}

/* Adjust styles based on your specific preferences */

/* ... (existing styles) */
